$light-grey: rgb(230,230,230);
$light-grey-opacity: rgba(0,0,0,0.15);
$dark-grey: rgb(50,50,50);
$dark-grey-opacity: rgba(80, 80, 80, 0);
$dark-grey-no-opacity: rgb(80, 80, 80);
$dark-blue: rgba(30, 87, 153, 1);
$light-blue: rgba(125, 185, 232, 1);
$white: rgb(248, 248, 248);
$red: #c15252;
